/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    box-shadow: 0px 0px 8px #00ff0897;
    transform: scale(1.05);
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00ff08;
    text-shadow: 0 0 5px #00ff0870;
}

/* Cabecalho */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    /* Espaçamento */
    display: inline-block;
    padding: 0 40px;
}

.texto-logo {
    font-size: 1.3em;
}


/* Estilo topo do site */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00ff08;
    text-shadow: 0 0 8px #00ff089e;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 0 16px #00ff08;

}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}


/* Estilos das especialidades */

section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
    flex-wrap: nowrap;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    margin-top: 55px;
    border-radius: 20px;
    transition: .2s;
    flex: 1;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff77;
    cursor: pointer;
}

.especialidades .especialidades-box i {
    color: #00ff08;
    text-shadow: 0 0 8px  #00ff089e;
    font-size: 70px;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* Estilo sobre */

section.sobre {
    padding: 40px 4%;
}

section.sobre .img-sobre img {
    width: 400px;
    border-radius: 40%;
    box-shadow: 0 0 20px #00ff085b;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00ff08;
    display: block;
    line-height: 40px;
    text-shadow: 0 0 8px #00ff0865;
}

section.sobre .txt-sobre {
    color: white;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #00ff08;
    cursor: pointer;
    font-size: 25px;
    margin: 0 5px;
    transition: .2s;
}

/* estilo portifolio */
section.portifolio {
    margin-top: 40px;
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff18;
}

section.portifolio .flex {
    margin-top: 40px;
    justify-content: space-around;
}

.img-port {
    width: 360px;
    height: 260px;
    border-radius: 40px;
    background-size: cover;
    background-position: top center;
    cursor: pointer;
    position: relative;
}

.img-port:hover {
    backdrop-filter: blur(5px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover {
    opacity: 1;
    filter: blur(0px);
}





